.pull-left {
    float: left !important;
}

.pull-right {
    float: right !important;
}

.clearfix {
    clear: both;
}

.center-block {
    margin: auto;
    padding-top: 27px;
}

.content_foot {
    height: 80px;
}

.filter {
    display: none;
}

.form-cancel{
    display: inline-block;
}

/*Text common*/
.text_center {
    text-align: center;
}

/*override style.css*/
#header .inner h1 {
    padding: 14px 5px 16px 42px;
    height: 60px;
}

/*icon resources*/
.icon_add {
    background-image: url("../images/btnAdd.png");
}

.icon_edit {
    background-image: url("../images/btnEdit.png");
}

.icon_search {
    background-image: url("../images/search.png");
}